.header-1{
    padding:20px;
    background-color: rgb(238, 231, 225);
    height: 100px;
}

.navigation{
    margin: 0 auto;
    background-color: rgb(58, 51, 42);
    padding: 15px 0;
    }

.navigation a{
padding:15px 20px;
text-decoration: none;
transition: 0.7s ease;
color:rgb(238, 229, 215);

}

.navigation a:hover{
    background-color: rgb(82, 70, 55);
}

.navigation a.active{
    background-color: rgb(116, 89, 84);
    transition: 0.7s ease;
}